#page-wrapper {
	background-image: linear-gradient(#f3f3f4, #ffffff 50%, #f3f3f4);
	.page-inner {
		background: url(http://nodescamp.com/shared/img/ribbons.png) 0 0 no-repeat transparent;
		background-size: 100%;
	}
	header {
		padding:25px 0 28px 28px;
	}
}
