#page-wrapper {
	background-image: linear-gradient(#f3f3f4, #ffffff 50%, #f3f3f4);
	.page-inner {
		background: url(http://nodescamp.com/shared/img/ribbons.png) 0 0 no-repeat transparent;
		background-size: 100%;
	}
	header {
		padding:$padding-y-l 0 $padding-y-l $padding-x-m;
	}
	.content {
		background: #f3f3f4;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
		.page-title {
			position: relative;
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 5px;
					margin-top: -5px;
					box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
					z-index: 1;
					pointer-events: none;
					overflow: hidden;
				}
		}
		.page-content {
			margin:0 15px;
		}
	}
	.main {
		overflow: hidden;
		.side-bar {
			overflow:hidden;
		}
		.inner-content {

		}
	}
}
