<div class="page-inner">
	<div class="container">
		<header class="row">
			<div id="logo" class="logo col-sm-3">
				<a href="#"><img src="http://nodescamp.com/img/logo-nodes.png?1385484218" alt=""></a>
			</div>
			<div class="site-toolbar col-sm-9">
				<ul class="nav nav-pills pull-right">
					<li>
						<span>Welcome </span>
						<a href="#">Username</a>
					</li>
					<li class="divider">|</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Client Name
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Submenu</a></li>
							<li><a href="#">Submenu</a></li>
							<li><a href="#">Submenu</a></li>
						</ul>
					</li>
					<li class="divider">|</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Admin Roles
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#">Submenu</a></li>
							<li><a href="#">Submenu</a></li>
							<li><a href="#">Submenu</a></li>
						</ul>
					</li>
					<li class="divider">|</li>
					<li><a href="#">Logout</a></li>
				</ul>
			</div>
		</header>
		<div class="content">
			<div class="primary-navigation row">
				<div class="col-sm-12">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#">Applications</a></li>
						<li><a href="#">URL Shortener</a></li>
						<li><a href="#">Settings</a></li>
					</ul>
				</div>
			</div>
			<div class="page-title row">
				<div class="col-sm-12">
					<div class="page-header">
						<h1>Applications</h1>
					</div>
				</div>
			</div>
			<div class="main row">
				<div class="col-sm-3">
					<div class="secondary-navigation list-group">
						<a href="#" class="list-group-item active">Lorem ipsum</a>
						<a href="#" class="list-group-item">Lorem ipsum</a>
						<a href="#" class="list-group-item">Lorem ipsum</a>
						<a href="#" class="list-group-item">Lorem ipsum</a>
						<a href="#" class="list-group-item">Lorem ipsum</a>
						<a href="#" class="list-group-item">Lorem ipsum</a>
						<a href="#" class="list-group-item">Lorem ipsum</a>
						<a href="#" class="list-group-item">Lorem ipsum</a>
						<a href="#" class="list-group-item">Lorem ipsum</a>
						<a href="#" class="list-group-item">Lorem ipsum</a>
						<a href="#" class="list-group-item">Lorem ipsum</a>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="page-toolbar row">
						<div class="col-sm-12">
							<h2 class="pull-left">Application instances</h2>
							<a href="#" class="btn btn-primary pull-right">Add new web project</a>
						</div>
					</div>
					<div class="app-list">
						<div class="col-sm-12">
							<table class="table table-bordered">
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
								<tr>
									<td class="app-title">
										<h4>Application Name</h4>
									</td>
									<td class="app-actions"><a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
