<div class="row">
	<div class="col-lg-12">
		<h1>h1. Bootstrap heading</h1>
		<h2>h2. Bootstrap heading</h2>
		<h3>h3. Bootstrap heading</h3>
		<h4>h4. Bootstrap heading</h4>
		<h5>h5. Bootstrap heading</h5>
		<h6>h6. Bootstrap heading</h6>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h1>h1. Bootstrap heading <small>Secondary text</small></h1>
		<h2>h2. Bootstrap heading <small>Secondary text</small></h2>
		<h3>h3. Bootstrap heading <small>Secondary text</small></h3>
		<h4>h4. Bootstrap heading <small>Secondary text</small></h4>
		<h5>h5. Bootstrap heading <small>Secondary text</small></h5>
		<h6>h6. Bootstrap heading <small>Secondary text</small></h6>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<p class="lead">Lead Copy, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, consequatur, minima, tempore, molestias natus consectetur atque omnis laudantium architecto sequi nisi asperiores eaque eveniet perspiciatis laboriosam eius in. Culpa, minus, aspernatur illo dolore labore nihil hic perspiciatis impedit? Facere, optio!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, distinctio, laborum aut cum omnis sunt reprehenderit quas ipsam libero praesentium.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, distinctio, iusto totam iste ducimus veniam odit commodi corporis velit quaerat accusamus nulla eos ipsam alias inventore maiores incidunt harum voluptatibus vero neque. Ipsa, necessitatibus, aliquid, expedita non iste a incidunt inventore aperiam laudantium iusto reiciendis quos pariatur minima sint quisquam consequatur deleniti impedit eaque doloremque veniam maxime eveniet maiores animi modi nobis provident nemo dolorem laboriosam rerum voluptate numquam corrupti vero obcaecati quis vel ratione ipsam!</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<small>This line of text is meant to be treated as fine print.</small>
		<strong>rendered as bold text</strong>
		<em>rendered as italicized text</em>
		<abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
		<address>
		  <strong>Twitter, Inc.</strong><br>
		  795 Folsom Ave, Suite 600<br>
		  San Francisco, CA 94107<br>
		  <abbr title="Phone">P:</abbr> (123) 456-7890
		</address>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<p class="text-left">Left aligned text.</p>
		<p class="text-center">Center aligned text.</p>
		<p class="text-right">Right aligned text.</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<p class="text-muted">Lorem ipsum dolor.</p>
		<p class="text-primary">Lorem ipsum dolor.</p>
		<p class="text-success">Lorem ipsum dolor.</p>
		<p class="text-info">Lorem ipsum dolor.</p>
		<p class="text-warning">Lorem ipsum dolor.</p>
		<p class="text-danger">Lorem ipsum dolor.</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<blockquote>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
		  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
		</blockquote>
		<blockquote class="pull-right">
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
		  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
		</blockquote>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<ul>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor.</li>
			<li>
				Lorem ipsum dolor.
				<ul>
					<li>Lorem ipsum dolor.</li>
					<li>Lorem ipsum dolor.</li>
					<li>Lorem ipsum dolor.</li>
				</ul>
			</li>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor.</li>
		</ul>
		<ol>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor.</li>
			<li>
				Lorem ipsum dolor.
				<ul>
					<li>Lorem ipsum dolor.</li>
					<li>Lorem ipsum dolor.</li>
					<li>Lorem ipsum dolor.</li>
				</ul>
			</li>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor.</li>
		</ol>
		<ul class="list-unstyled">
			<li>Unstyled List</li>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor.</li>
			<li>
				Lorem ipsum dolor.
				<ul>
					<li>Lorem ipsum dolor.</li>
					<li>Lorem ipsum dolor.</li>
					<li>Lorem ipsum dolor.</li>
				</ul>
			</li>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor.</li>
			<li>Lorem ipsum dolor.</li>
		</ul>
		<ul class="list-inline">
			<li>Inline list</li>
			<li>Lorem ipsum.</li>
			<li>Lorem ipsum.</li>
		</ul>
		<dl>
			<dt>Description lists</dt>
			<dd>A description list is perfect for defining terms.</dd>
			<dt>Euismod</dt>
			<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
			<dd>Donec id elit non mi porta gravida at eget metus.</dd>
			<dt>Malesuada porta</dt>
			<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
      	</dl>
      	<dl class="dl-horizontal">
			<dt>Horizontal Description lists</dt>
			<dd>A description list is perfect for defining terms.</dd>
			<dt>Euismod</dt>
			<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
			<dd>Donec id elit non mi porta gravida at eget metus.</dd>
			<dt>Malesuada porta</dt>
			<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
      	</dl>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<pre>&lt;p&gt;Code text...&lt;/p&gt;</pre>
	</div>
</div>
